body {
  background-image: url("../img/baking-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed;
  margin: 0;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: rgb(90, 51, 3);
}
main {
  margin-bottom: 30px;
}
header {
  margin-bottom: 30px;
}
form {
  display: flex;
}
.form-container {
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 15px 30px;
}
.container {
  margin: 120px auto;
  max-width: 800px;
  background-color: rgba(193, 222, 135, 0.868);
  border-radius: 15px;
}
.container2 {
  margin: 120px auto;
  max-width: 800px;

  border-radius: 5px;
  padding: 20px auto;
  text-align: center;
}
.prompt {
  padding: 16px;
  border-radius: 3px solid rgb(182, 239, 182);
  width: 80%;
  font-size: 16px;
  border-radius: 20px;
  line-height: 20px;
}
.cookie-button {
  margin-left: 10px;
  background-color: rgb(182, 239, 182);
  width: 150px;
  font-size: larger;
  border: none;
  border-radius: 30px;
  padding: 14px 24px;
}
.cookie-button:hover {
  background-color: rgb(160, 210, 160);
  cursor: pointer;
}
.small {
  line-height: 1.5;
  margin-top: 8px;
  opacity: 0.7;
}

.recipe {
  font-size: 15px;
  background-color: rgb(223, 238, 192);
  line-height: 24px;
  border-left: 3px solid rgb(207, 168, 206);
  box-shadow: 0px 20px 60px rgb(65, 50, 100, 0.08);
  border-radius: 5px;
}
.generating-message {
  font-size: 45px;
  color: rgb(90, 51, 3);
}
fotter {
  font-weight: 400;
  padding-top: 10px;
  font-size: 15px;
  margin-top: 30px;
}
